<div class="arena-container">

    <!-- LEFT SECTION: Question -->
    <div class="arena-left">

        <!-- Question Header -->
        <div class="question-header">
            <div class="phase-label">CURRENT PHASE</div>
            <div class="header-top">
                <div class="question-number">QUESTION {{ currentQuestionNumber }}/{{ totalQuestions }}</div>
                <div class="timer">{{ timeLeft }}s</div>
            </div>
            <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="(currentQuestionNumber / totalQuestions) * 100"></div>
            </div>
        </div>

        <!-- Question Box -->
        <div class="question-box" *ngIf="!isLoading; else loading">
            
            <div class="category-badge">
                <div class="badge-text">{{ category }} // {{ difficulty }}</div>
            </div>

            <div class="points-badge">
                <div class="points-value">{{ pointsPossible }}</div>
                <div class="points-label">POINTS</div>
            </div>

            <div class="question-text">
                {{ questionText }}
            </div>

        </div>

        <!-- Answer Options -->
        <div class="options-grid" *ngIf="!isLoading">
            <div *ngFor="let option of options; let i = index" 
                class="option-card" 
                [class.option-selected]="option.isSelected && !option.isCorrect && !option.isWrong"
                [class.option-correct]="option.isCorrect"
                [class.option-wrong]="option.isWrong"
                [class.option-disabled]="hasAnswered"
                (click)="selectOption(option.answerId, i)">       <!-- no submit here -->
                <div class="option-label">{{ getOptionLetter(i) }}</div>
                <div class="option-text">{{ option.answerText }}</div>
                <img *ngIf="option.isSelected" src="correct-option.svg" alt="" />
            </div>
        </div>


        <!-- Submit Button -->
        <button class="submit-btn"
                *ngIf="!isLoading"
                [disabled]="!selectedAnswerId && !isSubmitting"
                [class.submitting]="isSubmitting"
                (click)="submitSelected()">
            <span class="submit-idle" *ngIf="!isSubmitting">CONFIRM ANSWER</span>
            <span class="submit-processing" *ngIf="isSubmitting">
                <span class="submit-dots">
                    <span></span><span></span><span></span>
                </span>
                LOCKING IN
            </span>
        </button>

        <!-- Error Message -->
        <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
            <button (click)="requestQuestion()">Retry</button>
        </div>

    </div>

    <!-- RIGHT SECTION: Standings & Tips -->
    <div class="arena-right">

        <!-- LIVE RANKING -->
        <div style="display: flex; flex-direction: column;gap: 0;"> 
            <div class="standings-header">
                <div class="standings-title">
                    <img src="ranking.svg" alt="" />
                    <span style="margin-left:0.5rem;"> Live Standings </span>
                </div>
                <div class="live-indicator"></div>
            </div>

            <div class="standings-box">
                <div class="leaderboard">
                    <div *ngFor="let player of leaderboard;" class="leaderboard-item" [class.leaderboard-you]="player.isYou">
                        <div class="rank">{{ player.rank }}</div>
                        <img [src]="player.avatar" alt="player" class="avatar"/>
                        <div *ngIf="!player.isYou" class="player-name">{{ player.username }}</div>
                        <div *ngIf="player.isYou" class="you-info">
                            <div class="you-name">{{ player.username }}</div>
                            <div class="you-gap">-{{ player.ptsTo2nd }} PTS TO 2ND</div>
                        </div>
                        <div class="player-score">{{ player.score }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Battle Tip -->
        <div class="battle-tip-box">
            <div class="battle-tip-header">
                <div class="battle-tip-icon">
                    <img src="tip.svg" alt="" />
                </div>
                <div class="battle-tip-title">Battle Tip</div>
            </div>
            <div class="battle-tip-text">
                Speed decides points ! Answering in under <span class="highlight">5 seconds</span> grants a <span class="highlight">2.5x Multiplier</span>. Stay sharp, think faster.
            </div>
        </div>

    </div>

</div>

<!-- Loading Template -->
<ng-template #loading>
    <div class="question-box loading-box">
        <div class="spinner"></div>
        <p>Loading question...</p>
    </div>
</ng-template>