
<div class="lobby-main-container">

    <!-- LEFT PART OF SCREEN -->
    <div class="main-content-container">

        <div style="display:flex;justify-content:space-between;">

            <div style="display:flex;flex-direction: column; gap: 1rem;">
                <div class="flex-row">
                    <div class="blue-ball"></div>
                    <div class="light-blue"> STATUS : MATCHING </div>
                </div>
                <div style="display:flex;flex-direction: column;gap:0;"> 
                    <div class="synching"> SYNCING </div> <br> 
                    <div class="network"> NEURAL </div> <br> 
                    <div class="network"> NETWORKS </div> 
                </div>
                <div style="display:flex;gap: 1rem;">
                    <div> Encrypted Room ID: </div>
                    <div> #482-910 </div>
                </div>
            </div>

            <div style="display:flex;gap:2rem;justify-content: space-around;"> 
                <div> 7/10 </div>
                <div style="display:flex;flex-direction: column;gap:1rem;"> 
                    <div> Neural Capacity </div>
                    <div> 3 Slots remaining for link stability </div>
                </div>
            </div>

        </div>

    </div>


</div>

