
<div class="lobby-main-container">

    <!-- LEFT PART OF SCREEN -->
    <div class="main-content-container">

        <div style="display:flex;justify-content:space-between;gap: 2rem;">

            <div style="display:flex;flex-direction: column; gap: 1rem;">
                <div class="flex-row">
                    <div class="blue-ball"></div>
                    <div class="light-blue"> STATUS : MATCHING </div>
                </div>
                <div style="display:flex;flex-direction: column;gap:0;"> 
                    <div class="synching"> SYNCING </div> <br> 
                    <div class="network"> NEURAL </div> <br> 
                    <div class="network"> NETWORKS </div> 
                </div>
                <div class="flex-row">
                    <div class="grey-text"> ENCRYPTED ROOM ID : </div>
                    <div class="roomid-box trans-box2"> 
                        <div class="roomid"> {{roomCode}} </div>
                        <img class="roomicon" src="roomid-icon.svg" alt=""/> 
                    </div>
                </div>
            </div>

            <div class="neural-cap-container trans-box2"> 
                <div class="slot-circle">
                    <div class="current">{{players.length}}</div>
                    <div class="total">/{{TOTAL_SLOTS}}</div>
                </div>
                <div style="display:flex;flex-direction: column;gap:1rem;"> 
                    <div class="header"> Neural Capacity </div>
                    <div class="subheader"> {{ TOTAL_SLOTS - players.length }} Slots remaining for link stability </div>
                    <div class="slots-container">
                        <div *ngFor="let slot of slots; let i = index" 
                            class="slot-bar" 
                            [class.active]="i < players.length"
                            [class.waiting]="i >= players.length">
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="player-grid">

            <div 
                *ngFor="let slot of slots; let i = index"
                class="player-card"
                [class.empty-slot]="!players[i]">

                <ng-container *ngIf="players[i]; else waitingSlot">

                    <img
                        class="player-img"
                        [src]="players[i].avatarIconUrl"
                    />

                    <div class="player-name">
                        {{ players[i].username }}
                    </div>

                    <div
                        class="player-status"
                        [ngClass]="players[i].status.toLowerCase()"
                    >
                        {{ players[i].status }}
                    </div>

                </ng-container>

                <ng-template #waitingSlot>

                    <div class="waiting-wrapper">
                        WAITING...
                    </div>

                </ng-template>

            </div>

        </div>


        <div class="flex-sb" style="width:100%;">
            <!-- INITIATE BUTTON -->
            <button class="join-btn" (click)="sendReady()" [disabled]="isReady">
                <div class="flex-row">
                    <img class="join-btn-img" src="lighting.svg" alt="" />
                    <div class="join-btn-txt" *ngIf="!isReady"> Initiate Neural Link </div>
                    <div class="join-btn-txt" *ngIf="isReady"> Ready </div>
                </div>
                <div class="join-btn-description"> Match starts when all {{TOTAL_SLOTS}} players are ready </div>
            </button>
            <!-- PULSE BUTTON -->
             <button class="pulse-btn" (click)="sendPulse()">
                <div class="flex-col" style="justify-content: center; align-items: center;"> 
                    <img class="pulse-btn-icon" src="pulse.svg" />
                    <div class="pulse-btn-txt"> Send Pulse </div>
                </div>
             </button>
        </div>

    </div>

    <!-- RIGHT PART OF SCREEN -->
    <div class="info-content-container">


        <div class="trans-box2 parameter-box">
            <div class="flex-row">
                <img style="width:1rem;height:1rem;" src="parameters.svg" alt="" />
                <div class="light-pink-125"> Arena Parameters </div>
            </div>
            <div class="divider"></div>
            <div class="flex-col">
                <div class="room-parameter"> 
                    <div class="param-text"> Questions </div>
                    <div class="param-value"> 10 Rounds </div>
                </div>
                <div class="room-parameter"> 
                    <div class="param-text"> Time Limit </div>
                    <div class="param-value"> 30s/Burst </div>
                </div>
                <div class="room-parameter"> 
                    <div class="param-text"> Scoring </div>
                    <div class="param-value param-blue"> Speed-Weighted </div>
                </div>
                <div class="room-parameter"> 
                    <div class="param-text"> Complexity </div>
                    <div class="param-value param-pink"> Neural Level IV </div>
                </div>
            </div>
        </div>


        <div class="trans-box2 live-box">

            <div class="flex-row">
                <div class="blue-ball"></div>
                <div class="light-pink-125"> Activity Feed </div>
            </div>

            <div class="divider"></div>

            <!-- FEED MESSAGES -->
            <div class="activity-feed-container">

                <div class="activity-row" *ngFor="let msg of messages">
                    <div class="feed-emoji">🔥</div>
                    <div>
                        <span class="feed-highlight-pink">{{msg.username}}</span>
                        {{msg.text}}
                    </div>
                </div>

            </div>

            <!-- INPUT -->
            <div class="feed-input-container">

                <input [(ngModel)]="newMessage"
                    class="feed-input" type="text"
                    placeholder="Send reaction..."
                />

                <button class="feed-send-btn" (click)="sendMessage()">
                    <img class="feed-send-icon" src="send.svg"/>
                </button>

            </div>

        </div>

        <!-- BOTTOM BUTTONS -->
        <div class="bottom-controls">

            <button class="control-btn" (click)="toggleMuteChat()">
                <img class="control-icon" src="mute.svg"/>
                <div class="control-txt"> Mute </div>
            </button>

            <button class="control-btn" style="background: #794539;" (click)="exitRoom()">
                <img class="control-icon" src="exit.svg"/>
                <div class="control-txt"> Exit </div>
            </button>

        </div>

    </div>

</div>

