
*{
    color:white
}


.lobby-main-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin: 3rem auto;
    width: 90%;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.light-blue{
    font-family: 'Space Grotesk', Helvetica;
    font-weight: 700;
    color: #c1fffe;
    font-size: 0.85rem;
    white-space: nowrap;
    letter-spacing: 3px;
    line-height: 1rem;
}


.blue-ball{
    height: 0.5rem;
    width: 0.5rem;
    background-color: #00e6e6;
    border-radius: 9999px;
}

.synching{
    font-family: 'Space Grotesk', Helvetica;
    font-weight: 700;
    color:#e4e3fe;
    font-size: 0.75rem;
    white-space: nowrap;
    letter-spacing: -3px;
    line-height: 3rem;
    font-size: 4rem;
}

.network{
    font-family: 'Space Grotesk', Helvetica;
    font-weight: 700;
    font-size: 0.75rem;
    white-space: nowrap;
    letter-spacing: -3px;
    line-height: 3rem;
    font-size: 4rem;
    background:  linear-gradient(
        17deg,
        rgba(193,255,254,1) 0%,
        rgba(0,255,255,1) 100%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
}


.grey-text{
    font-family: 'Manrope', Helvetica;
    font-weight: 700;
    color: #a9a9c3;
    font-size: 1rem;
    white-space: nowrap;
}


.roomid-box{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #1c1d37;
    padding: 0.5rem 1rem;
    border: 1px solid #45465c33;
    border-radius: 0.5rem;

    .roomid{
        font-family: 'Space Grotesk', Helvetica;
        font-weight: 700;
        color: #00f5f5;
        font-size: 1.05rem;
        white-space: nowrap;
        letter-spacing: 1.5px;
        line-height: 1.25rem;
    }

    .roomicon{
        height: 1.05rem;
        width: 1.05rem;
        cursor: pointer;
    }
}



