










<div class="main-container">

    <div class="main-text">
        <div style="color: #c1fffe">CHOOSE YOUR</div>
        <div style="color: #ff51fa">BATTLEGROUND</div>
    </div>


    <div class="main-input-box" style="margin-top: 3rem;">

        <div class="gradient"></div>

        <div class="input-row">

            <div class="flex-col-05" style="width: 15rem;">
                <div class="input-label-txt" style="color: #c1fffeb2;"> COMBATANT ALIAS </div>
                <div class="input-box">
                    <input type="text" placeholder="NEURAL_STRIKER_01"/>
                </div>
            </div>


            <div class="flex-col-05" style="width: 12rem;">
                <div class="input-label-txt" style="color: #ff51fab2;"> SECURE LINK CODE </div>
                <div class="input-box">
                    <input type="text" placeholder="6 DIGIT ROOM CODE" />
                </div>
            </div>

            <button class="join-btn">JOIN ARENA</button>

        </div>

        <div class="info-msg"> Initialize neural uplink protocol • Secure connection required </div>

    </div>

</div>
