









<img src="brainbg.svg" class="brainimg" /> 

<div class="main-container">

    <div class="main-text" style="margin-top: 2rem;">
        <div style="color: #c1fffe">CHOOSE YOUR</div>
        <div style="color: #ff51fa">BATTLEGROUND</div>
    </div>


    <div class="main-input-box" style="margin-top: 3rem;">

        <div class="gradient"></div>

        <div class="input-row">

            <div class="flex-col-05" style="width: 17rem;">
                <div class="input-label-txt" style="color: #c1fffeb2;"> COMBATANT ALIAS </div>
                <div class="input-box">
                    <img src="fingerprint.svg" alt="" />
                    <input type="text" placeholder="NEURAL_STRIKER_01"/>
                </div>
            </div>


            <div class="flex-col-05" style="width: 14rem;">
                <div class="input-label-txt" style="color: #ff51fab2;"> SECURE LINK CODE </div>
                <div class="input-box">
                    <img src="phone.svg" alt="" />
                    <input type="text" placeholder="6 DIGIT ROOM CODE" />
                </div>
            </div>

            <button class="join-btn">JOIN ARENA</button>

        </div>

        <div class="info-msg"> Initialize neural uplink protocol • Secure connection required </div>

    </div>


    <div class="room-grid" style="margin-top: 3rem; margin-bottom: 10rem;">

        @for(item of roomTypes; track item.id){

            <div class="room-item" [class]="{'hardcore-room': item.id=='hardcore-mode' }">
                <img class="room-icon" [src]="item.icon" />
                <div class="room-title"> {{ item.title }} </div>
                <div class="room-description"> {{ item.description }} </div>
                <button [class]="{'room-btn': item.id!='hardcore-mode', 'hard-core-btn': item.id=='hardcore-mode' }"> 
                    @if(item.id=='hardcore-mode'){ ENTER IF YOU DARE }@else { ENTER }
                </button>
            </div>

        }

    </div>



</div>
