

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.main-text {
        text-shadow: 0px 0px 15px #00ffff99;
        font-family: "Space Grotesk-Bold", Helvetica;
        font-weight: 700;
        white-space: nowrap;
        color: transparent;
        font-size: 4.5rem;
        text-align: center;
        line-height: 4.5rem;

}


.main-input-box{


    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
    background-color: #1c1d3799;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid;
    border-color: #45465c4c;  


  .gradient {
    position: absolute;
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    width: 4px;
    background: linear-gradient(
            180deg,
            rgba(193, 255, 254, 1) 0%,
            rgba(255, 81, 250, 1) 100%
        );
    }


    .input-row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .input-label-txt{
        display: flex;
        align-items: center;
        font-family: "Manrope-ExtraBold", Helvetica;
        font-weight: 800;
        font-size: 10px;
        letter-spacing: 2.00px;
        line-height: 15px;
        white-space: nowrap;
    }

    .input-box{

        display: flex;
        background: #000000;
        gap: 0.5rem;
        background: #000000;
        padding: 1rem;
        border-radius: 0.5rem;

        input{
            border: none;
            outline: none;
            width: 100%;
            color: #E4E3FE;
            font-weight: 700;
            background: #000000;
        }

    }


    .join-btn{
        display: flex;
        height: 3.5rem;
        width: 8rem;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        position: relative;
        border-radius: 0.5rem;
        background: linear-gradient(
            90deg,
            rgba(193, 255, 254, 1) 0%,
            rgba(0, 255, 255, 1) 100%
        );
        box-shadow: 0px 4px 6px -4px #c1fffe33, 0px 10px 15px -3px #c1fffe33;
        font-family: "Space Grotesk-Bold", Helvetica;
        font-weight: 700;
        color: #006767;
        font-size: 0.75rem;
        text-align: center;
        letter-spacing: 1.50px;
        line-height: 20px;
        white-space: nowrap;
    }

    .info-msg{
        text-align: center;
        font-size: 0.75rem;
        color: #a9a9c3;
        opacity: 0.5;
        white-space: nowrap;
        letter-spacing: 1.00px;
        line-height: 1rem;
        font-family: "Manrope-Bold", Helvetica;
        align-self: center;
    }

}


.room-grid{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem; /* optional spacing */
    width: 70%;

    .room-item{
        display: flex;
        flex-direction: column;
        gap: 0.85rem;
        background-color: #1c1d3799;
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid;
        border-color: #45465c4c;  
        padding: 1rem;
    }

    .room-icon{
        width: 3rem;;
    }

    .room-title{
        font-family: "Space Grotesk-Bold", Helvetica;
        font-weight: 700;
        color:#E4E3FE;
        font-size: 1.125rem;
        letter-spacing: 0;
        line-height: 1.75rem;
    }

    .room-description{
        font-family: "Manrope-Regular", Helvetica;
        font-weight: 400;
        color: #a9a9c3;
        opacity: 0.5;
        font-size: 0.75rem;
        letter-spacing: 0;
        line-height: 1rem;
    }

    .room-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.85rem 0;
        background-color: #22233f;
        border-radius: 0.75rem;
        font-family: "Space Grotesk-Bold", Helvetica;
        font-weight: 700;
        color: #e4e3fe;
        text-align: center;
        border: 1px solid #c1fffe33;
        margin-top: auto;
    }

}

