
html, body {
//   background-color: #0b0c1f;
background: transparent;  // Required to show the background animation
  padding: 0%;
  margin: 0%;
}

*{
  box-sizing: border-box;
}

.flex-row{
  display: flex;
  flex-direction: row;
    gap: 1rem;
}


.flex-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-col-05{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    cursor: pointer;

    &:disabled{
        cursor: not-allowed;
    }

    &:hover{
        opacity: 0.9;
    }
}